[Unit]
Description=Scheduler service logging pi sensor data
After=network.target

[Service]
Type=simple
User=rpi2g
Environment="PI_SERVER_DATABASE=SensorReadings"
Environment="PI_SERVER_TABLE_NAME=Samples"
Environment="PI_SERVER_DB_USER=user_name_here"
Environment="PI_SERVER_DB_PASSWORD=password_here"
WorkingDirectory=/home/rpi2g/src
ExecStart=/usr/bin/python /home/rpi2g/src/SensorPiLog/pilogger/scheduler.py 192.168.0.100
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target